<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/styles/signup.css">
</head>

<body>

    <img src="./ToDoify.png" alt="Logo">

    <form action="/signup" method="post">

        <!-- Username Field -->
        <input placeholder="Userame" name="username" type="text">

        <!-- Password Field -->
        <input placeholder="Password" name="password" type="password">

        <!-- Email Field -->
        <input placeholder="Email" name="email" type="text">
        <pr>{{error}}</pr>
        <!-- Submit Button -->
        <input class="sub" type="submit" value="Sign Up">

    </form>

    <!-- Login Link -->
    <a href="/login">Login</a>

</body>

</html>